#OS system files
.DS_Store
.vscode/
.venv/
.ansible/

#Packer
packer_cache/

## TERRAFORM ##
# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform logs and crash reports
.crash.log
*.tfstate.*.backup
*.tfstate.*

# Ignore Terraform configuration directories
.terraform/
.terraform.lock.hcl
.env

#Sensitive Info
*private*
*secret*
secure.auto.tfvars
# Prevent committing terraform variables with sensitive data
*.tfvars
!*.tfvars.example

##Modestos egen mappe
#Projects
/scripts/Dockerfile

#Backup
*BackupDGLB*
.tmp.driveupload/*
.tmp.drivedownload/*

#Devcontainer
/.devcontainer/

#VS Code
*.code-workspace

#Claude AI
.claude/
CLAUDE.md

#Ansible Vault
**/.vault_pass
**/.vault_password
